@model IEnumerable<Magazine_Palpay.Web.ViewModels.PostTypeViewModel>

@{
    ViewData["Title"] = "عرض أنواع المنشوارت";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; 
}
<div class="row mb-6 mt-3">
    <div class="col-md-8">
      <h4> @ViewData["Title"] </h4>
    </div> 
    <div class="col-md-4">
     <a asp-action="Create" class="btn button-add mr-2">
        <span class="navi-icon">
            <i class="las la-plus-square" style="font-size: 15px;">
            </i>
            إضافة جديد
        </span>
     </a> 
    </div>
</div>

<hr />
 
<table class="table">
    <thead>
        <tr> 
            <th>
               النوع
            </th>
             <th>
             تابع إلى
            </th>
            <th>
               تاريخ الإضافة
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light-warning">تعديل</a>  
                 <a @*onclick="deleteFun(@item.Id)"*@ class="btn btn-light-danger">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table> 
@*@section scripts{
    <script>
        function deleteFun(item){
           var del = 'jQueryModalConfirm("/Admin/PostType/Delete?id=' + item + '","هل أنت متأكد من حذف هذا العنصر؟")';
        }
    </script>
}
*@