  @model List<Magazine_Palpay.Web.Models.Book>
	<section class="search">
			<div class="container">
 				<form action="~/Books/LoadAll" method="post" class="form-submit">
					<div class="row" style="padding:5px 15px 0 15px;">
						<div class="col-md-4"></div> 
						<div class="col-md-4">
							<aside>
								<h2 class="aside-title">تصنيفات الكتب</h2>  
								<div class="aside-body">
									<select asp-items="@ViewBag.CategoryId" class ="form-control" id="category" name="category">
									   <option value="0">اختر التصنيف</option>
									</select> 
								</div> 
							</aside>
						</div>
						<div class="col-md-4">
							<aside>
								<h2 class="aside-title">البحث بالاسم</h2>
								<div class="aside-body">
 									<div>
										<div class="form-group">
											<div class="input-group">
												<input type="text" name="searchKey" class="form-control" placeholder="بحث بالاسم ...">
												<div class="input-group-btn">
													<button class="btn btn-primary" type="submit">
														<i class="ion-search"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</aside>
						</div> 
					</div>
				    <hr />
 				 <div class="row">
					@foreach(var book in Model.Where(x=>!x.IsDelete))
					{
						<div class="col-md-3">
							<div class='normal' style="margin:10px 0;">
								<div class='module'>
								<div class='thumbnail'>
									<a href="~/assets/UploadFiles/@book.Link">
										<img src="~/assets/UploadImages/@book.Image">
									</a>
 								</div>
								<div class='content'>
									<a href="~/assets/UploadFiles/@book.Link" class="color-white"><div class="category">تحميل</div></a>
									<span class="color-orange">@book.BookCategory.Name</span>
									<h1 class='m-title'>@book.Name</h1>
									<p>@book.Author</p>
								</div>
								</div>
						   </div>
						</div>
					} 

					  <div class="col-md-12 text-center">
						<ul class="pagination">
							  <input id="page" name="page" type="hidden"/>
							  @{
									int prev = ViewBag.page;
									prev--;
							   }
						  <li class="prev"><a href="#" onclick="return pageNo(@prev)"><i class="ion-ios-arrow-left"></i></a></li>
						   @for (int i = 1; i <= ViewBag.NumberOfPages; i++)
							{ 
								if(ViewBag.page == i)
								{
									<li class="active"><a href="#" onclick="return pageNo(@i)">@i</a></li> 
								}
								else
								{
									<li><a href="#" onclick="return pageNo(@i)">@i</a></li> 
								} 
 							}
							@{
								int next = ViewBag.page;
								next++;
							} 
						  <li class="next"><a href="#" onclick="return pageNo(@next)"><i class="ion-ios-arrow-right"></i></a></li>
						</ul> 
					  </div>
					</div>
				</form>
			</div>
	</section>  
	@section scripts{
		<script type="text/javascript">
		 function pageNo(page){
		   $("input[name=page]").val(page);  
		   $(".form-submit").submit();
		 }
		 $("#category").change(function(){
			 $(".form-submit").submit();
		 });
		</script>
	}
