@{
	var deals = ViewBag.Deals;
	var campain = ViewBag.Campain;
	var it = ViewBag.IT;
	var fintech = ViewBag.Fintech;
}
<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="row">
			@if(campain != null){
					<article class="article col-md-12">
				<div class="inner">
					<figure>
						<a href="/PostDetails/Details?id=@campain.Id">
							<img src="~/assets/UploadImages/@campain.MainImage" alt="@campain.Head">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">@campain.CreatedAt</div>
							<div class="category"><a href="#">@campain.PostType.Name</a></div>
						</div>
						<h2><a href="/PostDetails/ByType?type=@campain.PostTypeId">@campain.Head</a></h2> 
						<footer>
 							<a class="btn btn-primary more" href="/PostDetails/ByType?type=@campain.PostTypeId">
								<div>عرض المزيد</div>
								<div><i class="ion-ios-arrow-thin-right"></i></div>
							</a>
						</footer>
					</div>
				</div>
			</article>  
			}
		@if (it != null)
		{
				<article class="article col-md-12">
				<div class="inner">
					<figure>
						<a href="/PostDetails/Details?id=@it.Id">
							<img src="~/assets/UploadImages/@it.MainImage" alt="@it.Head">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">@it.CreatedAt</div>
							<div class="category"><a href="#">@it.PostType.Name</a></div>
						</div>
						<h2><a href="/PostDetails/ByType?type=@it.PostTypeId">@it.Head</a></h2> 
						<footer>
 							<a class="btn btn-primary more" href="/PostDetails/ByType?type=@it.PostTypeId">
								<div>عرض المزيد</div>
								<div><i class="ion-ios-arrow-thin-right"></i></div>
							</a>
						</footer>
					</div>
				</div>
			</article> 
		
		}
	
		</div>
</div> 
		
<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="row">
		@if(deals != null)
		{
				 <article class="article col-md-12">
				<div class="inner">
					<figure>
						<a href="/PostDetails/Details?id=@deals.Id">
							<img src="~/assets/UploadImages/@deals.MainImage" alt="@deals.Head">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">@deals.CreatedAt</div>
							<div class="category"><a href="#">@deals.PostType.Name</a></div>
						</div>
						<h2><a href="/PostDetails/ByType?type=@deals.PostTypeId">@deals.Head</a></h2> 
						<footer>
 							<a class="btn btn-primary more" href="/PostDetails/ByType?type=@deals.PostTypeId">
								<div>عرض المزيد</div>
								<div><i class="ion-ios-arrow-thin-right"></i></div>
							</a>
						</footer>
					</div>
				</div>
			</article>  
		}
		@if(fintech != null)
		{
			<article class="article col-md-12">
				<div class="inner">
					<figure>
						<a href="/PostDetails/Details?id=@fintech.Id">
							<img src="~/assets/UploadImages/@fintech.MainImage" alt="@fintech.Head">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">@fintech.CreatedAt</div>
							<div class="category"><a href="#">@fintech.PostType.Name</a></div>
						</div>
						<h2><a href="/PostDetails/ByType?type=@fintech.PostTypeId">@fintech.Head</a></h2>  
						<footer>
 							<a class="btn btn-primary more" href="/PostDetails/ByType?type=@fintech.PostTypeId">
								<div>عرض المزيد</div>
								<div><i class="ion-ios-arrow-thin-right"></i></div>
							</a>
						</footer>
					</div>
				</div>
			</article>  
		}
		
		</div>
</div> 		