@{
	var deals = ViewBag.Deals;
	var campain = ViewBag.Campain;
	var it = ViewBag.IT;
	var fintech = ViewBag.Fintech;
}
 
<div class="col-md-6 col-sm-6 col-xs-12"> 
			@if(campain != null){
				<div class='normal' style="margin:10px 0;">
					<div class='module'>
					<div class='thumbnail'>
						<a href="/PostDetails/Details?id=@campain.Id">
							<img src="~/assets/UploadImages/@campain.MainImage" alt="@campain.Head"> 
 						</a>
						<img src="~/assets/UploadImages/@campain.MainImage" alt="@campain.Head">
					</div>
					<div class='content'>
						<a href="/PostDetails/Details?id=@campain.Id" class="color-white"><div class="category">التفاصيل</div></a>
						<span class="color-orange">@campain.PostType.Name</span>
						<h1 class='m-title'>@campain.Head</h1>
					</div>
					</div>
				</div>
			}
		@if (it != null)
		{
		    <div class='normal' style="margin:10px 0;">
			   <div class='module'>
				<div class='thumbnail'>
					<a href="/PostDetails/Details?id=@it.Id">
					  <img src="~/assets/UploadImages/@it.MainImage" alt="@it.Head"> 
 					</a>
				  <img src="~/assets/UploadImages/@it.MainImage" alt="@it.Head">
				</div>
				<div class='content'>
				  <a href="/PostDetails/Details?id=@it.Id" class="color-white"><div class="category">التفاصيل</div></a>
				  <span class="color-orange">@it.PostType.Name</span>
				  <h1 class='m-title'>@it.Head</h1>
				</div>
			  </div>
			</div>
		
		} 
</div> 
		
<div class="col-md-6 col-sm-6 col-xs-12"> 
		@if(deals != null)
		{
       	   <div class='normal' style="margin:10px 0;">
			   <div class='module'>
				<div class='thumbnail'>
					<a href="/PostDetails/Details?id=@deals.Id">
					  <img src="~/assets/UploadImages/@deals.MainImage" alt="@deals.Head"> 
 					</a>
				  <img src="~/assets/UploadImages/@deals.MainImage" alt="@deals.Head">
				</div>
				<div class='content'>
				  <a href="/PostDetails/Details?id=@deals.Id" class="color-white"><div class="category">التفاصيل</div></a>
				  <span class="color-orange">@deals.PostType.Name</span>
				  <h1 class='m-title'>@deals.Head</h1>
				</div>
			  </div>
		  </div>
		}
		@if(fintech != null)
		{
			<div class='normal' style="margin:10px 0;">
			   <div class='module'>
				<div class='thumbnail'>
					<a href="/PostDetails/Details?id=@fintech.Id">
					  <img src="~/assets/UploadImages/@fintech.MainImage" alt="@fintech.Head"> 
 					</a>
				  <img src="~/assets/UploadImages/@fintech.MainImage" alt="@fintech.Head">
				</div>
				<div class='content'>
				  <a href="/PostDetails/Details?id=@fintech.Id" class="color-white"><div class="category">التفاصيل</div></a>
				  <span class="color-orange">@fintech.PostType.Name</span>
				  <h1 class='m-title'>@fintech.Head</h1>
				</div>
			  </div>
		   </div> 
		} 
</div> 		