@model List<Magazine_Palpay.Data.Models.Post>      
@using Magazine_Palpay.Enums
@{
	var lst = Model.Where(x => x.PostTypeId != ((int)PostTypeEnum.OtherNews)
	&& x.PostTypeId != (int)PostTypeEnum.Deals
	&& x.PostTypeId != (int)PostTypeEnum.IT
	&& x.PostTypeId != (int)PostTypeEnum.Campaines
	&& x.PostTypeId != (int)PostTypeEnum.Fintech)
   .Take(8).ToList();
}
@foreach(var item in lst)
		{
<article class="col-md-12 article-list">
		<div class="inner">
			<figure>
				<a href="/PostDetails/Details?id=@item.Id">
					<img src="~/assets/UploadImages/@item.MainImage" alt="@item.Head">
				</a>
			</figure>
			<div class="details">
				<div class="detail">
					<div class="category">
						<a href="#">@item.PostType.Name</a>
					</div>
					<div class="time">@item.CreatedAt</div>
				</div>
				<h1><a href="single.html">@item.Head</a></h1>
				<p>
				@if(item.Body.Length > 200){
					<p>@Html.Raw(item.Body.Substring(0,200)+"..........")</p>
				}
				else
				{
					<p>@Html.Raw(item.Body)</p>
				}
				</p>
				<footer>
 					<a class="btn btn-primary more" href="/PostDetails/Details?id=@item.Id">
						<div>التفاصيل</div>
						<div><i class="ion-ios-arrow-thin-right"></i></div>
					</a>
				</footer>
			</div>
		</div>
</article>
}
				 