@model List<Magazine_Palpay.Data.Models.Post>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home" style="padding:15px !important;">
	<div class="container">
		<div class="row">

		</div>
		<div class="row">
			<div class="col-xs-6 col-md-4 sidebar" id="sidebar">
				<div class="sidebar-title for-tablet">Sidebar</div>
			    <aside>
					<div class="aside-body">
						@Html.Partial("_Ads")
					</div>
				</aside>
			    <aside>
					@Html.Partial("_Videos")
				</aside>
				<aside>
					<h1 class="aside-title">آخر الأخبار <a href="/Home/MultiNews" class="all">عرض الكل <i class="ion-ios-arrow-right"></i></a></h1>
					@Html.Partial("_LastPosts")
				</aside>
				<aside>
					<div class="aside-body">
						<form class="newsletter">
							<div class="icon">
								<i class="ion-ios-email-outline"></i>
								<h1>تابعنا</h1>
							</div>
							<div class="input-group">
								<input type="email" class="form-control email" placeholder="بريدك الالكتروني">
								<div class="input-group-btn">
									<button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
								</div>
							</div>
							<p>أرسل بريدك الالكتروني ليصلك كل جديد</p>
						</form>
					</div>
				</aside>
			
				<aside id="sponsored" style="display:none;">
					<h1 class="aside-title">Sponsored</h1>
					<div class="aside-body">
						<ul class="sponsored">
							<li>
								<a href="#">
									<img src="~/ui/images/sponsored.png" alt="Sponsored">
								</a>
							</li> 
							<li>
								<a href="#">
									<img src="~/ui/images/sponsored.png" alt="Sponsored">
								</a>
							</li> 
							<li>
								<a href="#">
									<img src="~/ui/images/sponsored.png" alt="Sponsored">
								</a>
							</li> 
							<li>
								<a href="#">
									<img src="~/ui/images/sponsored.png" alt="Sponsored">
								</a>
							</li> 
						</ul>
					</div>
				</aside>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12"> 
				@Html.Partial("_CarousalPost")
				<div class="line">
					<div>الأخبار الرئيسية</div>
				</div>
				<div class="row">
					@Html.Partial("_MainPosts")
				</div>
				<div class="line top">
					<div>تصفح أخبار أخرى</div>
				</div>
				<div class="row">
					@Html.Partial("_OtherPosts")
				</div>
			</div> 
		</div>
	</div>
</section> 