@model List<Magazine_Palpay.Web.Models.Post> 

<section class="single" style="padding:15px !important;">
<div class="container">
	<div class="row">
		<div class="col-md-4 sidebar" id="sidebar">
			</div>
		<div class="col-md-8">
			<header>
				<h4 style="padding:40px;"> أخبار متنوعة و معلومات عامة</h4> 
			</header> 
	    </div> 
		@foreach(var item in Model)
		{
			<div class="col-md-3 pull-right">
				<div class='normal' style="margin:10px 0;">
					<div class='module'>
					<div class='thumbnail'>
						<a href="/PostDetails/Details?id=@item.Id">
							<img src="~/assets/UploadImages/@item.MainImage" alt="@item.Head"> 
 						</a>
 					</div>
					<div class='content'>
						<a href="/PostDetails/Details?id=@item.Id" class="color-white"><div class="category">التفاصيل</div></a>
						<span class="color-orange">@item.PostType.Name</span>
						<h1 class='m-title'>@item.Head</h1>
					</div>
					</div>
		       </div>
			</div>
	     }
  </div>
    <div class="col-md-12 text-center">
		<ul class="pagination">
				@{
					int prev = ViewBag.page;
					prev--;
				}
			<li class="prev"><a href="~/Home/MultiNews?page=@prev"><i class="ion-ios-arrow-left"></i></a></li>
			@for (int i = 1; i <= ViewBag.NumberOfPages; i++)
			{ 
					if(ViewBag.page == i)
					{
						<li class="active"><a href="~/Home/MultiNews?page=@i">@i</a></li> 
					}
					else
					{
						<li><a href="~/Home/MultiNews?page=@i">@i</a></li> 
					} 
 			}
			@{
				int next = ViewBag.page;
				next++;
			} 
			<li class="next"><a href="~/Home/MultiNews?page=@next"><i class="ion-ios-arrow-right"></i></a></li>
		</ul> 
	</div>
</div>
</section>