@{string url = Context.Request.Path.Value.ToString();}
      <div class="aside-logo flex-column-auto mt-4" id="kt_aside_logo">
    <a href="#">
        <img alt="Logo" src="~/assets/media/logos/logo.png" class="logo img-fluid px-3" />
    </a>
    <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
        <span class="svg-icon svg-icon-1 rotate-180">
            <svg xmlns="http://www.w3.org/2000/svg" width="37.714" height="33" viewBox="0 0 37.714 33">
                <g id="menu-right-alt" transform="translate(-6 -7.5)">
                    <path id="Path_688" data-name="Path 688" d="M6,9.857A2.357,2.357,0,0,1,8.357,7.5h33a2.357,2.357,0,0,1,0,4.714h-33A2.357,2.357,0,0,1,6,9.857Z" transform="translate(0)" />
                    <path id="Path_689" data-name="Path 689" d="M6,27.857A2.357,2.357,0,0,1,8.357,25.5h33a2.357,2.357,0,0,1,0,4.714h-33A2.357,2.357,0,0,1,6,27.857Z" transform="translate(0 10.286)" />
                    <path id="Path_690" data-name="Path 690" d="M17.357,16.5a2.357,2.357,0,1,0,0,4.714H36.214a2.357,2.357,0,1,0,0-4.714Z" transform="translate(5.143 5.143)" />
                </g>
            </svg>
        </span>
    </div>
</div>

<div class="aside-menu flex-column-fluid">
   
     <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">
                    <div class="menu-item menu-side @(url.Equals("/") ?"active":"")">
                        <a class="menu-link" href="/Admin/Home/Index" title="" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
                                <span class="svg-icon svg-icon-2">
                                    <i class="las la-home" style="font-size: 25px; color: #b34498;"></i>
                                </span>
                                <!--end::Svg Icon-->
                            </span>
                            <span class="menu-title">الرئيسية</span>
                        </a>
                    </div>
                     <div class="menu-item menu-side">
                        <a class="menu-link" href="/Admin/LastNews/index" title="" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
                                <span class="svg-icon svg-icon-2"> 
                                       <i class="las la-newspaper" style="font-size: 25px; color: #b34498;"></i>
                                </span>
                                <!--end::Svg Icon-->
                            </span>
                            <span class="menu-title">شريط الأخبار</span>
                        </a>
                   </div>
              <div data-kt-menu-trigger="click" class="menu-item menu-side menu-accordion @(url.Contains("Post")?"active":"")">
                <span class="menu-link">
                    <span class="menu-icon">
                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs042.svg-->
                        <span class="menu-icon">
                            <span class="svg-icon svg-icon-2 my-2">
                                <i class="las la-layer-group" style="font-size: 28px; color: #b34498;"></i>
                            </span>
                        </span>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="menu-title">المنشورات</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion menu-active-bg" kt-hidden-height="234" style="display: none; overflow: hidden;">
                    <div class="menu-item menu-sub-item @(url.Equals("/Admin/Post/index")?"active":"")">
                        <a class="menu-link" href="/Admin/Post/index">
                             <span class="menu-bullet">
                                <i class="las la-caret-left"></i>
                            </span>
                            <span class="menu-title">الكل</span>
                        </a>
                    </div>
                    <div class="menu-item menu-sub-item @(url.Equals("/Admin/PostType/Index")?"active":"")">
                        <a class="menu-link" href="/Admin/PostType/Index">
                             <span class="menu-bullet">
                                <i class="las la-caret-left"></i>
                            </span>
                            <span class="menu-title">أنواع المنشورات</span>
                        </a>
                    </div> 
                </div>
            </div> 
                    
                   <div class="menu-item menu-side">
                        <a class="menu-link" href="/Admin/Ads/index" title="" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
                                <span class="svg-icon svg-icon-2">
                                      <i class="las la-sd-card" style="font-size: 25px; color: #b34498;"></i>
                                </span>
                                <!--end::Svg Icon-->
                            </span>
                            <span class="menu-title">إدارة الإعلانات</span>
                        </a>
                   </div> 
                   <div class="menu-item menu-side">
                        <a class="menu-link" href="/Admin/Gallery/index" title="" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
                                <span class="svg-icon svg-icon-2"> 
                                      <i class="las la-images" style="font-size: 25px; color: #b34498;"></i>
                                </span>
                                <!--end::Svg Icon-->
                            </span>
                            <span class="menu-title">إدارة المعارض</span>
                        </a>
                   </div> 
                  
                    <div data-kt-menu-trigger="click" class="menu-item menu-side menu-accordion @(url.Contains("Employee") || url.Contains("Department")?"active":"")">
                <span class="menu-link">
                    <span class="menu-icon">
                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs042.svg-->
                        <span class="menu-icon">
                            <span class="svg-icon svg-icon-2 my-2">
                                 <i class="las la-user-circle" style="font-size: 28px; color: #b34498;"></i>
                            </span>
                        </span>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="menu-title">الموظفين</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion menu-active-bg" kt-hidden-height="234" style="display: none; overflow: hidden;">
                    <div class="menu-item menu-sub-item @(url.Equals("/Admin/Employee/index")?"active":"")">
                        <a class="menu-link" href="/Admin/Employee/index">
                             <span class="menu-bullet">
                                <i class="las la-caret-left"></i>
                            </span>
                            <span class="menu-title">الكل</span>
                        </a>
                    </div>
                    <div class="menu-item menu-sub-item @(url.Equals("/Admin/Department/Index")?"active":"")">
                        <a class="menu-link" href="/Admin/Department/Index">
                             <span class="menu-bullet">
                                <i class="las la-caret-left"></i>
                            </span>
                            <span class="menu-title">الأقسام الوظيفية</span>
                        </a>
                    </div> 
                </div>
            </div> 
                   
             <div data-kt-menu-trigger="click" class="menu-item menu-side menu-accordion @(url.Contains("Book")?"active":"")">
                <span class="menu-link">
                    <span class="menu-icon">
                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs042.svg-->
                        <span class="menu-icon">
                            <span class="svg-icon svg-icon-2 my-2">
                                 <i class="las la-book" style="font-size: 28px; color: #b34498;"></i>
                            </span>
                        </span>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="menu-title">الكتب</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion menu-active-bg" kt-hidden-height="234" style="display: none; overflow: hidden;">
                    <div class="menu-item menu-sub-item @(url.Equals("#")?"active":"")">
                        <a class="menu-link" href="/Admin/Book/Index">
                             <span class="menu-bullet">
                                <i class="las la-caret-left"></i>
                            </span>
                            <span class="menu-title">الكل</span>
                        </a>
                    </div>
                    <div class="menu-item menu-sub-item @(url.Equals("/Admin/BookCategory/Index")?"active":"")">
                        <a class="menu-link" href="/Admin/BookCategory/Index">
                             <span class="menu-bullet">
                                <i class="las la-caret-left"></i>
                            </span>
                            <span class="menu-title">أنواع الكتب</span>
                        </a>
                    </div> 
                </div>
            </div>   
       </div> 
</div>