@model Magazine_Palpay.Data.Models.Post

<article class="article main-article">
			<header>
				<h2>@Model.Head</h2>
				<ul class="details">
					<li>تم النشر بتاريخ @Model.CreatedAt</li>
					<li>@Model.PostType.Name | @ViewBag.PostSubType</li>
 				</ul>
			</header>
			<div class="main">
 				<div class="featured">
					<figure>
						<img src="~/assets/UploadImages/@Model.MainImage">
 					</figure>
					 @if(Model.PostPhoto.Count() > 0)
					 {
						<div class="block"> 
							<div class="block-body">
								<ul class="item-list-round" data-magnific="gallery">
									@foreach(var item in Model.PostPhoto)
									{
										<li><a href="~/assets/UploadImages/@item.Photo" style="background-image: url('/assets/UploadImages/@item.Photo');"></a></li>
									}
								</ul>
							</div>
						</div>
					 }
		         </div>
		          <p>@Html.Raw(Model.Body)</p>
			</div> 
</article> 