@model Magazine_Palpay.Data.Models.Post
<style>
@@media only screen and (min-width: 768px) {
	 .video-main-size {
		width:760px;
		height:515px;
	  }
	 
}
@@media only screen and (max-width: 600px) {
  .video-main-size {
    width:380px;
	height:280px;
  } 
}</style>
<article class="article main-article">
			<header>
				<h2 style="color:#8D499C">@Model.Head</h2>
				<ul class="details">
					<li>تم النشر بتاريخ @Model.CreatedAt</li>
					<li>@Model.PostType.Name | @ViewBag.PostSubType</li>
 				</ul>
			</header>
			<div class="main">
 				<div class="featured">
				@if(Model.MediaType.Equals(1)){
						<figure>
 								<img src="~/assets/UploadImages/@Model.MainImage" alt="@Model.Head">
 						</figure>
					}
					else if(Model.MediaType.Equals(2))
					{
						<figure>
							<iframe id="mainVideo" class="video-main-size" src="@Model.EmbedVideoLink" 
								title="@Model.Head" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
								allowfullscreen></iframe>
						</figure>
					} 
					 @if(Model.PostPhoto.Count() > 0)
					 {
						<div class="block"> 
							<div class="block-body">
								<ul class="item-list-round" data-magnific="gallery">
									@foreach(var item in Model.PostPhoto)
									{
										<li><a href="~/assets/UploadImages/@item.Photo" style="background-image: url('/assets/UploadImages/@item.Photo');"></a></li>
									}
								</ul>
							</div>
						</div>
					 }
		         </div>
		          <p>@Html.Raw(Model.Body)</p>
			</div> 
</article> 