@model List<Magazine_Palpay.Web.Models.Post>
<section class="single" style="padding:15px !important;">
<div class="container">
	<div class="row">
		<div class="col-md-4 sidebar" id="sidebar">
			</div>
		<div class="col-md-8">
			<header>
				<h4 style="padding:40px;">@ViewBag.PostSubTypeName</h4> 
			</header>
		</div>
	</div>
	<div class="row">
		@foreach(var item in Model)
		{
		  <div class="col-md-3 pull-right">
				<div class='normal' style="margin:10px 0;">
					<div class='module'>
					<div class='thumbnail'>
						@if(item.MediaType.Equals(1)){
									<a href="/PostDetails/Details?id=@item.Id">
								<img src="~/assets/UploadImages/@item.MainImage" alt="@item.Head">
									</a>
								}else if (item.MediaType.Equals(2))
								{
									 <iframe width="300" height="250" src="@item.EmbedVideoLink" 
												title="@item.Head" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
												allowfullscreen></iframe>
								}
 					</div>
					<div class='content'>
						<a href="/PostDetails/Details?id=@item.Id" class="color-white"><div class="category">التفاصيل</div></a>
						<span class="color-orange">@item.PostType.Name</span>
						<h1 class='m-title'>@item.Head</h1>
					</div>
					</div>
		       </div>
			</div>
	     }
	</div>
  </div>
</section>
	