@using Magazine_Palpay.Enums
@using Microsoft.EntityFrameworkCore
 @inject ApplicationDbContext _context; 
@{
	var deals = (int)PostTypeEnum.Deals;
	var campaines = (int)PostTypeEnum.Campaines;
	var it = (int)PostTypeEnum.IT;
	var fintech = (int)PostTypeEnum.Fintech; 
	var postTypes = _context.PostType.Where(x => !x.IsDelete).ToList();
    var MultiNews = postTypes.Where(x => x.ParentId.Equals((int)PostTypeEnum.OtherNews)).ToList();
    var Social = postTypes.Where(x => x.ParentId.Equals((int)PostTypeEnum.Social)).ToList();
    var BOP = postTypes.Where(x => x.ParentId.Equals((int)PostTypeEnum.BankOfPalestine)).ToList();
    var Employees = postTypes.Where(x => x.ParentId.Equals((int)PostTypeEnum.Employees)).ToList();
	var GalleryAlbum = _context.Gallery.Where(x=>!x.IsDelete).ToList();
    var ListNews = _context.Post
        .Include(x => x.PostType)
        .Where(x => x.PostTypeId.Equals((int)PostTypeEnum.OtherNews)
        && !x.IsDelete && x.PublishedPost && x.OrderPlace.Equals(1) && x.MediaType.Equals(1)).OrderByDescending(x => x.CreatedAt)
		.Take(3).ToList(); 
	}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <base href="">
    <title>المجلة الالكترونية</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.png" />
    <partial name="_Styles" />
    <partial name="_Scripts" />
    @RenderSection("css", required: false)
	<style>
		.menu ul > li > a { 
			padding: 10px 8px !important; 
		}
	header.primary {
    position: unset !important;
    z-index: 1999;
    top: 0;
    right: 0;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
   }
   section{
    padding-top: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
   }
   .vwrap, .vitem {
  height: 30px;
  line-height: 30px;
}

/* (B) FIXED WRAPPER */
.vwrap {
     background-color: #F2F2F2;
    overflow: auto;
    height: 30px;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}


.vitem { text-align: center; }

.vmove { position: relative; }
@@keyframes tickerv {
  0% { bottom: 0; } /* FIRST ITEM */
  30% { bottom: 30px; } /* SECOND ITEM */
  60% { bottom: 60px; } /* THIRD ITEM */
  90% { bottom: 90px; } /* FORTH ITEM */
  100% { bottom: 0; } /* BACK TO FIRST */
}
.vmove {
  animation-name: tickerv;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, .5, 0);
}
.vmove:hover { animation-play-state: paused; }
.vwrap .title {
    background-color: #FB634F;
        color: #FFF;
        position: absolute;
        right: 0;
        font-weight: bold;
        border-right: 2px solid #FFF;
        top: 0;
        display: block;
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 10;
        box-shadow: 0px 0px 20px rgba(0,0,0,.8);
    }
</style>
</head>

<body class="skin-orange">
	@*<img src="~/ui/images/3.png"/>*@
		<header class="primary">
			<div class="firstbar">
				<div class="container">
					<div class="row"> 
					</div>
				</div>
			</div>

			<!-- Start nav -->
			<nav class="menu">
				<div class="container">
					<div class="brand">
						<a href="#">
							<img src="~/ui/images/logo.png" alt="Palpay Logo">
						</a>
					</div>
					<div class="mobile-toggle">
						<a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
					</div>
					<div class="mobile-toggle">
						<a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
					</div>
					<div id="menu-list">
						<ul class="nav-list">
							<li class="for-tablet nav-title"><a>Menu</a></li>
							<li class="for-tablet"><a href="login.html">Login</a></li>
							<li class="for-tablet"><a href="register.html">Register</a></li>
							<li><a href="/">الرئيسية</a></li>
							<li><a href="/PostDetails/ByType?type=@deals">الاتفاقيات</a></li>
							<li><a href="/PostDetails/ByType?type=@campaines">الحملات </a></li> 
							<li><a href="/PostDetails/ByType?type=@it">التحول الرقمي</a></li>
							<li><a href="/PostDetails/ByType?type=@fintech">التكنولوجيا المالية</a></li>
 							<li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="#">منوعات<i class="ion-ios-arrow-right"></i> <div class="badge">تصفح</div></a>
								<div class="dropdown-menu megamenu">
									<div class="megamenu-inner">
										<div class="row">
											<div class="col-md-3">
												<!-- <div class="row">
													 <div class="col-md-12">
														<h2 class="megamenu-title">آخر الأخبار</h2>
													</div>
												</div> -->
												<ul class="vertical-menu">
													@if(MultiNews != null){
														@foreach(var item in MultiNews)
														{
															<li><a href="/PostDetails/BySubType?subType=@item.Id"><i class="ion-ios-circle-outline"></i>@item.Name</a></li>
														} 
													}
												</ul>
											</div>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-12">
														<h2 class="megamenu-title">أهم المواضيع</h2>
													</div>
												</div>
												<div class="row">
												@if(ListNews != null){
													@foreach(var item in ListNews)
													{
														<article class="article col-md-4 mini">
															<div class="inner">
																<figure>
																	<a href="/PostDetails/Details?id=@item.Id">
																		<img src="~/assets/UploadImages/@item.MainImage" alt="@item.Head">
																	</a>
																</figure>
																<div class="padding">
																	<div class="detail">
 																		<div class="category"><a href="#">@item.PostType.Name</a></div>
																	</div>
																	<h2><a href="/PostDetails/Details?id=@item.Id">@item.Head</a></h2>
																</div>
															</div>
														</article>
													} 
												}
												</div>
											</div>
										</div>								
									</div>
								</div>
							</li>
							<li class="dropdown magz-dropdown">
								<a href="category.html">مجموعة بنك فلسطين <i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
								@if (BOP != null)
								{
									@foreach (var item in BOP)
									{
										<li><a href="/PostDetails/BySubType?subType=@item.Id">@item.Name</a></li>
									}

								}
								</ul>
							</li>
							<li class="dropdown magz-dropdown">
								<a href="#">اجتماعيات <i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
								@foreach(var item in Social)
								{
									<li><a href="/PostDetails/BySubType?subType=@item.Id">@item.Name</a></li>
								} 
								</ul>
							</li>
						    <li class="dropdown magz-dropdown">
								<a href="#">معرض الصور <i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
								@foreach(var item in GalleryAlbum)
								{
									<li><a href="/GalleryAlbum/Index?id=@item.Id">@item.Title</a></li>
								} 
								</ul>
							</li>
							<li><a href="/Books/Index">معرض الكتب</a></li>
							<li class="dropdown magz-dropdown"><a href="#">الموظفين <i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
								     <li><a href="/Employees/Index"> الإدارة التنفيذية</a></li>
									@if (Employees != null)
									{
										@foreach (var item in Employees)
										{
											<li><a href="/PostDetails/BySubType?subType=@item.Id">@item.Name</a></li>
										}

									}
								 
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
	<!-- End nav -->
		@{
			if(ViewBag.News != null)
			{
			<div class="container">
				<div class="row mt-6">
					<div class="vwrap">
					  <div class="title">آخر الأخبار</div>
					 <div class="vmove">
				 		@foreach(var item in ViewBag.News){
						  <div class="vitem">@item.Title</div>
						 } 
					</div>
					</div> 
				</div>
			</div>
			}
		
			}
			
		</header>

	    @RenderBody()
 
		<!-- Start footer -->
		<footer class="footer">
			<div class="container">
			<div class="row"> 
				<div class="col-md-4"></div>
				<div class="col-md-8">
 					<div class="block">
						<h1 class="block-title"> عن الشركة</h1>
						<div class="block-body">
							<figure class="foot-logo">
								<img src="~/ui/images/logo.png" class="img-responsive" alt="Logo">
							</figure>
							<p class="brand-description">
								نحن في شركة Palpay الشركة الرائدة في مجال الدفع الالكتروني محلياً اقليمياً ودولياً، هدفنا تطوير وابتكار آليات دفع الكترونية جديدة تسهل على المواطن تسديد التزاماته المالية وتوفر عليه الجهد والوقت.
							</p>
 						</div>
					</div>
				</div>
				</div>
				<div class="block">
							<h1 class="block-title"> تابعنا</h1>
							<div class="block-body">
								<ul class="social trp">
									<li>
										<a href="https://www.facebook.com/PalPayCompany" class="facebook">
											<svg><rect width="0" height="0"></rect></svg>
											<i class="ion-social-facebook"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/palpayco/" class="instagram">
											<svg><rect width="0" height="0"></rect></svg>
											<i class="ion-social-instagram-outline"></i>
										</a>
									</li>  
									<li>
										<a href="https://www.palpay.ps/" class="dribbble">
											<svg><rect width="0" height="0"></rect></svg>
											<i class="ion-social-dribbble"></i>
										</a>
									</li>
									<li>
										<a href="https://www.linkedin.com/company/palpay/mycompany/" class="linkedin">
											<svg><rect width="0" height="0"></rect></svg>
											<i class="ion-social-linkedin"></i>
										</a>
									</li> 
								</ul>
							</div>
						</div>
 				<div class="row">
					<div class="col-md-12">
						<div class="copyright">
						&copy; @DateTime.Today.Year	جميع الحقوق محفوظة لدى Palpay 
						</div>
					</div>
				</div>
			</div>
		</footer>  
		    @RenderSection("scripts", required: false)
	</body>
</html>
