<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <base href="">
    <title>المجلة الالكترونية</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/assets/media/logos/faviconPalPay.ico" />
    <partial name="_Styles" />
    <partial name="_Scripts" />
    @RenderSection("css", required: false)
</head>

<body class="skin-orange">
		<header class="primary">
			<div class="firstbar">
				<div class="container">
					<div class="row"> 
					</div>
				</div>
			</div>

			<!-- Start nav -->
			<nav class="menu">
				<div class="container">
					<div class="brand">
						<a href="#">
							<img src="~/ui/images/logo.png" alt="Palpay Logo">
						</a>
					</div>
					<div class="mobile-toggle">
						<a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
					</div>
					<div class="mobile-toggle">
						<a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
					</div>
					<div id="menu-list">
						<ul class="nav-list">
							<li class="for-tablet nav-title"><a>Menu</a></li>
							<li class="for-tablet"><a href="login.html">Login</a></li>
							<li class="for-tablet"><a href="register.html">Register</a></li>
							<li><a href="category.html">الاتفاقيات</a></li>
							<li class="dropdown magz-dropdown">
								<a href="category.html">حملات الشهر <i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="index.html">حملة 1</a></li>
									<li><a href="index.html">حملة 2</a></li>
									<li><a href="index.html">حملة 3</a></li>
								</ul>
							</li>
							<li><a href="category.html">التحول الرقمي</a></li>
							<li><a href="category.html">التكنولوجيا المالية</a></li>
 							<li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="#">آخر الأخبار<i class="ion-ios-arrow-right"></i> <div class="badge">تصفح</div></a>
								<div class="dropdown-menu megamenu">
									<div class="megamenu-inner">
										<div class="row">
											<div class="col-md-3">
												<!-- <div class="row">
													 <div class="col-md-12">
														<h2 class="megamenu-title">آخر الأخبار</h2>
													</div>
												</div> -->
												<ul class="vertical-menu">
													<li><a href="#"><i class="ion-ios-circle-outline"></i>  الصحية</a></li>
													<li><a href="#"><i class="ion-ios-circle-outline"></i> الثقافية</a></li>
													<li><a href="#"><i class="ion-ios-circle-outline"></i>الدينية</a></li>
													<li><a href="#"><i class="ion-ios-circle-outline"></i> أسلوب حياة</a></li> 
													<li><a href="#"><i class="ion-ios-circle-outline"></i>إدارة العمل و التعامل مع الزملاء </a></li>

												</ul>
											</div>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-12">
														<h2 class="megamenu-title">أهم المواضيع</h2>
													</div>
												</div>
												<div class="row">
													<article class="article col-md-4 mini">
														<div class="inner">
															<figure>
																<a href="single.html">
																	<img src="~/ui/images/news/img10.jpg" alt="Sample Article">
																</a>
															</figure>
															<div class="padding">
																<div class="detail">
																	<div class="time">أغسطس 10, 2022</div>
																	<div class="category"><a href="category.html">صحية</a></div>
																</div>
																<h2><a href="single.html">هنا نص تجريبي سيتم استبداله بنص حقيقي</a></h2>
															</div>
														</div>
													</article>
													<article class="article col-md-4 mini">
														<div class="inner">
															<figure>
																<a href="single.html">
																	<img src="~/ui/images/news/img11.jpg" alt="Sample Article">
																</a>
															</figure>
															<div class="padding">
																<div class="detail">
																	<div class="time">أغسطس 13, 2022</div>
																	<div class="category"><a href="category.html">أسلوب حياة</a></div>
																</div>
																<h2><a href="single.html">هنا نص تجريبي سيتم استبداله بنص حقيقي</a></h2>
															</div>
														</div>
													</article>
													<article class="article col-md-4 mini">
														<div class="inner">
															<figure>
																<a href="single.html">
																	<img src="~/ui/images/news/img14.jpg" alt="Sample Article">
																</a>
															</figure>
															<div class="padding">
																<div class="detail">
																	<div class="time">أغسطس 14, 2022</div>
																	<div class="category"><a href="category.html">ثقافية</a></div>
																</div>
																<h2><a href="single.html">هنا نص تجريبي سيتم استبداله بنص حقيقي</a></h2>
															</div>
														</div>
													</article>
												</div>
											</div>
										</div>								
									</div>
								</div>
							</li>
							<li class="dropdown magz-dropdown">
								<a href="category.html">مجموعة بنك فلسطين <i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="index.html">الأخبار</a></li>
									<li><a href="index.html">الإنجازات</a></li>
									<li><a href="index.html">الجوائز</a></li>
								</ul>
							</li>
							<li class="dropdown magz-dropdown"><a href="#">الموظفين <i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="#"><i class="icon ion-person"></i>أعياد الميلاد</a></li>
									<li><a href="#"><i class="icon ion-heart"></i> الاستقالات</a></li>
									<li><a href="#"><i class="icon ion-chatbox"></i> الموظفين الجدد</a></li>
									<li><a href="#"><i class="icon ion-key"></i> أخرى</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- End nav -->
			<div class="container">
				<div class="row">
					<div id="ticker">
					  <div class="title">آخر الأخبار</div>
					  <ul> 
					  @{
						  foreach(var item in ViewBag.News){
						  <li>@item.Title</li>
					    }
					  }
					  </ul> 
					</div>
				</div>
			</div>
			
		</header>

	    @RenderBody()
 
		<!-- Start footer -->
		<footer class="footer">
			<div class="container">
			<div class="row"> 
				<div class="col-md-4"></div>
				<div class="col-md-8">
 					<div class="block">
						<h1 class="block-title"> عن الشركة</h1>
						<div class="block-body">
							<figure class="foot-logo">
								<img src="~/ui/images/logo.png" class="img-responsive" alt="Logo">
							</figure>
							<p class="brand-description">
								نحن في شركة Palpay الشركة الرائدة في مجال الدفع الالكتروني محلياً اقليمياً ودولياً، هدفنا تطوير وابتكار آليات دفع الكترونية جديدة تسهل على المواطن تسديد التزاماته المالية وتوفر عليه الجهد والوقت.
							</p>
 						</div>
					</div>
				</div>
				</div>
 				<div class="row">
					<div class="col-md-12">
						<div class="copyright">
						&copy; @DateTime.Today.Year	جميع الحقوق محفوظة لدى Palpay 
						</div>
					</div>
				</div>
			</div>
		</footer>  
		    @RenderSection("scripts", required: false)
	</body>
</html>
